extends layout-blocks/layout.pug
block content
  section.hero(style="background-image: url('assets/images/banner-bg.jpg');") 
    .container 
      .hero__text
        h2.hero__title 6 of the most trusted home alarm systems
        p.hero__last-updated Last updated: March 1, 2018 
        p.hero__description You work hard to provide for your family and protect the ones you love. Installing a home security system is an easy way to secure your home even when you're not there. But how do you know which alarm company to use? We compared installation types, contract terms, monitoring fees and plan options to help you choose the best home security system for your needs.
        span.hero__disclosure "Disclosure"
  section.how-we-choose 
    .container 
      h3.how-we-choose__title How we choose the best
      p.how-we-choose__description We throughly researched plans, reputation installation ans more...
      .how-we-choose__boxes 
        - for(var i = 0; i<4; i++)
          .how-we-choose__box
            span.how-we-choose__icon [icon]
            .how-we-choose__box-details
              p.how-we-choose__box-number 283
              p.how-we-choose__box-description Companies considered
  section.featured 
    .container 
      h3.featured__title Featured Products
      .slider.js-slider
        - for(var i = 0; i<4; i++)
          .slider-item
            img.featured__img(src="http://placehold.it/300x200")
            p.featured__description Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem quaerat dolores tempore alias eaque, ex ipsa cupiditate dicta voluptas cumque veritatis error consectetur rerum.
            a.featured__btn.btn(href="javascript:;" target="_blank") Order Now
  
  section.top-companies 
    .container 
      p.top-companies__featured-text  Featured in: 
      .top-companies__featured 
        img.top-companies__featured-logo(src=require("assets/images/travel-leisure-logo.png"))
        img.top-companies__featured-logo(src=require("assets/images/cnn-logo.png"))
        img.top-companies__featured-logo(src=require("assets/images/the-new-york-times-logo.png"))
        img.top-companies__featured-logo(src=require("assets/images/nbc-news-2013-logo.png"))
        img.top-companies__featured-logo(src=require("assets/images/the-washington-post-logo.png"))
        img.top-companies__featured-logo(src=require("assets/images/aarp-logo.png"))
        img.top-companies__featured-logo(src=require("assets/images/forbes-logo.png"))
      
      h3.content__title Top 6 Home Alarm Companies 

      - for(var i = 0; i<5; i++)
        .top-brand
          span.top-brand__number #1
          .top-brand__main 
            p.top-brand__name Frontpoint 
            img.top-brand__logo(src=require("assets/images/frontpoint-logo.png"))
            img.top-brand__stars(src=require("assets/images/five-stars.png"))
            a.top-brand__link(href="javascript:;" target="_blank") READ REVIEWS
          .top-brand__features 
            p.top-brand__subtitle Features
              ul.top-brand__list 
                li.top-brand__list-item Installation type: Professional installation
                li.top-brand__list-item Monitoring options: 24/7 Monitoring
                li.top-brand__list-item Equipment fees: Must purchase equipment
                li.top-brand__list-item Minimum contract: 42 months
                li.top-brand__list-item 
                  strong $39.99 per month
          .top-brand__cta
            p.top-brand__call-text Call Frontpoint 
            a.top-brand__cta-btn.btn.btn--large(href="javascript:;" target="_blank") (833) 851-3035
            a.top-brand__cta-link.link(href="javascript:;" target="_blank") Visit Website
  
  section.content 
    .container
      h3.content__title How to choose a home security system
      h4.content__subtitle How much do alarm systems cost?
      p.content__text A basic home security system costs about $32 per month. Consider the cost of home security system installation, activation fees and monthly alarm monitoring fees before choosing a home alarm company. Adding more security cameras and sensors will cost extra too. Consumers report paying between $500-$1500 to get their residential alarm systems fully up and running.
      .content__table 
        .content__table-row 
          .content__table-title Burglar alarm and activation cost:
          .content__table-description 
            p.content__text Installation is either done by a professional or can be a do-it-yourself (DIY) project; some companies let you choose an installation method, while others offer only one option. Professionally installed alarm systems can cost $100-$500+; DIY is free, but it requires more of your time.
        .content__table-row 
          .content__table-title Security system monitoring services:
          .content__table-description 
            p.content__text Subscription security systems – home alarms monitored 24/7 by outside companies – carry a monthly fee, usually in the $20-$60 range
        .content__table-row 
          .content__table-title Home security equipment cost:
          .content__table-description 
            p.content__text You'll likely catch a price break on equipment in exchange for signing a contract to have your alarm system monitored. If you purchase a system outright, expect to pay $100+ for a basic system and $500+ for top-of-the-line equipment.
        .content__table-row 
          .content__table-title Municipal fees for alarm permits:
          .content__table-description 
            p.content__text Some cities charge a yearly permit fee, often less than $50, to respond to emergency calls triggered by monitored home security systems. Even in the event of a false alarm, police will still respond which can drain police resources over time. The permit fee helps offset this cost. Permit fees are not collected by the alarm companies, so it is important for homeowners to remember to pay this fee on their own.


      h4.content__subtitle Can I get a home security system with no contract?
      p.content__text Yes, some alarm companies offer no-contract security systems when you buy the equipment outright or agree to pay a slightly higher monthly rate.
      p.content__text Many home security companies offer discounted equipment in exchange for a signed contract, similar to how your cell phone company offers discounts on phones when customers sign up for a new plan. Some alarm system contracts are more flexible than others, so read through the contract terms (and online reviews) before signing on the dotted line.
      .content__table 
        .content__table-row 
          .content__table-title Contract length:
          .content__table-description 
            p.content__text Most alarm system contracts are for 2-3 year terms. Many allow for cancellation within the first 2-4 weeks of the contract's term.
        .content__table-row 
          .content__table-title Contact terms:
          .content__table-description 
            p.content__text Pay special attention to a contract's fine print. Look for information about equipment warranties, cancellation clauses, service call fees, etc.
        .content__table-row 
          .content__table-title Contract portability:
          .content__table-description 
            p.content__text Many alarm system companies make it easy to transfer your equipment to a new home, so if there's a chance you'll move during your contract, check first to confirm relocation possibilities.
      img(src=require("assets/images/homealarm-bg.jpg") width="100%")

      h4.content__subtitle Who installs home security systems?
      p.content__text There are two basic installation options you can choose: professional installation and DIY. If you're thinking about purchasing a wireless home security system, you'll usually have the option to set it up yourself or hire a professional to do it for you. Most hardwired systems, however, require professional installation.
      .content__table 
        .content__table-row 
          .content__table-title Professionally installed by company:
          .content__table-description 
            p.content__text Many complex alarm systems, usually those that are hardwired into a home, require professional installation. This usually carries a hefty cost ($200-$500+), although some companies offer discount installation.
        .content__table-row 
          .content__table-title DIY home alarm system:
          .content__table-description 
            p.content__text Do-it-yourself security systems are generally easy to install, often requiring just a few hours to read the manual and place your sensors.
        .content__table-row 
          .content__table-title Third-party professional installation:
          .content__table-description 
            p.content__text If you purchase a DIY system but aren't a DIYer, you can hire a local handy person to do your installation at an hourly rate.

      h4.content__subtitle How are home alarm systems monitored?
      p.content__text When you opt for professional monitoring, home alarm companies offer monthly monitoring via three types of connection: internet (broadband/VOIP), phone line or cellular service.
      .content__table 
        .content__table-row 
          .content__table-title Internet:
          .content__table-description 
            p.content__text Monitoring via the internet is inexpensive, but be aware that if you have an internet outage (or a power outage that disables your modem), you will be cut off from monitoring.
        .content__table-row 
          .content__table-title Phone line:
          .content__table-description 
            p.content__text You can use your home phone line (landline) to connect with your alarm monitoring company. Be aware that if a burglar cuts your phone line, your system will not work. If your phone line is fiber optic, you’ll need a battery backup system to power your alarm if the power goes out.
        .content__table-row 
          .content__table-title Cellular:
          .content__table-description 
            p.content__text Monitoring via cell phone connection is a good option for those without a landline. This service will remain available even in the event of a power or Internet outage.

      h4.content__subtitle What features can you add to an alarm system?
      p.content__text Basic systems are just that: basic. You'll most likely want to expand your system to meet your home's specifications–number of windows and doors, outdoor lighting requirements, etc.–so look for a company with the add-on equipment and features that suit your needs.

      .content__table 
        .content__table-row 
          .content__table-title Home security equipment:
          .content__table-description 
            p.content__text Control panels, security cameras, door sensors, smoke detectors and motion sensors come standard with most basic home security packages. Some alarm companies offer custom add-ons like key fobs, panic buttons, doorbell cameras, touch-screen panels and hands-free voice control. Equipment offerings vary greatly by company, so choose wisely before signing a contract.
        .content__table-row 
          .content__table-title Monthly monitoring plans:
          .content__table-description 
            p.content__text Monthly alarm monitoring plans can range from bargain-basement monitoring via an internet connection to all the bells and whistles, including smoke detection, medical monitoring and home automation.
        .content__table-row 
          .content__table-title Service upgrades & downgrades:
          .content__table-description 
            p.content__text Lifestyle changes may require variations in your home security needs; check with your company about the ease of adding (or removing) services or switching monthly plans mid-contract.
      
  section.trust 
    .trust__overlay
      .container 
        h3.trust__title How do I know I can trust&nbsp;
          span.u-text--brand-color ConsumerAffairs?
        .trust__boxes 
          .trust__box 
            img.trust__icon(src=require("assets/images/trust-star.png"))
            p.trust__description 745,437 reviews on ConsumerAffairs are verified.
          .trust__box 
            img.trust__icon(src=require("assets/images/trust-world.png"))
            p.trust__description We require contact information to ensure our reviewers are real.
          .trust__box 
            img.trust__icon(src=require("assets/images/trust-chart.png"))
            p.trust__description We use intelligent software that helps us maintain the integrity of reviews.
          .trust__box 
            img.trust__icon(src=require("assets/images/trust-headphone.png"))
            p.trust__description Our moderators read all reviews to verify quality and helpfulness.

  section.how-it-works 
    .container 
      h3.how-it-works__title Here is how it works
      .how-it-works__boxes 
        - for(var i = 0; i<4; i++)
          .how-it-works__box 
            span.how-it-works__icon [check]
            p.how-it-works__subtitle We listen 
            p.how-it-works__description Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dicta in ab maxime rem doloremque deserunt possimus laboriosam nemo saepe?

  section.reviews 
    .container 
      - for(var i = 0; i<2; i++)
        .reviews__row
          h3.reviews__title Why is Frontpoint the "#1"?
          .reviews__layout
            .reviews__brand
              .top-brand
                .top-brand__main 
                  img.top-brand__logo(src=require("assets/images/frontpoint-logo.png"))
                  a.top-brand__cta-btn.btn.btn--large(href="javascript:;" target="_blank") (833) 851-3035
                  a.top-brand__cta-link.link(href="javascript:;" target="_blank") Visit Website
                .top-brand__features 
                  p.reviews__text Frontpoint does home security differently. By offering complete protection coupled with truly genuine and helpful service, Frontpoint gives customers everything they need and nothing they don’t. All Frontpoint customers get a personalized security solution designed to not only make them feel safe, but feel good, as well.
                  small.reviews__text
                    i

            .reviews__featured
              h4.reviews__featured-title Featured reviews
              p.reviews__text "Installing my Frontpoint system was very easy. The instructions were good. Frontpoint also has a topnotch customer service. Anytime that I’ve had to call, they’ve been really, really good. I would recommend them."
              .reviews__details 
                  img.reviews__stars(src=require("assets/images/stars-5.png"))
                  p.reviews__name Rick Brouse, FL
              p.reviews__verified Verified Reviewer
            
  section.newsletter 
    .container 
      .newsletter__box 
        img.newsletter__logo(src=require("assets/images/logo-inverted.png"))
        p.newsletter__description Stay on top of recalls, news, and brands offers with the ConsumerAffairs newsletter
        form.newsletter__form 
          .newsletter__form-control 
            input.newsletter__form-input(id="txtNewsletterEmail" type="email" placeholder="Email" name="email" required)
          button.newsletter__form-btn.btn.btn--secondary(id="btnNewsletter") Sign Up Now
  section.faq
    .container
      h3.faq__title Customers questions and answers
      - for(var i = 0; i<2; i++)
        .accordion.js-accordion
          h4.accordion__header How many cameras do I need?
          .accordion__body 
            p.accordion__content 1 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe, nesciunt consequuntur eos dignissimos id veniam quis enim, quaerat, inventore rerum autem possimus dolores doloremque fuga soluta blanditiis eius alias! Voluptatibus.
        


    
        
          
  


    