extends layout-blocks/layout.pug
block content
  section.main-section 
    .container 
      .main-section__text
        h2.main-section__title 6 of the most trusted home alarm and security systems
        p.main-section__description You work hard to provide for your family and protect the ones you love. Installing a home security system is an easy way to secure your home even when you're not there. But how do you know which alarm company to use? We compared installation types, contract terms, monitoring fees and plan options to help you choose the best home security system for your needs.
        p.main-section__bottom-text Last updated: March 1, 2018 
          span.main-section__detail "Disclosure"
  section.top-companies 
    .container 
      p.top-companies__featured-text  Featured in: 
      .top-companies__featured 
        img.top-companies__featured-logo(src=require("../assets/images/travel-leisure-logo.png"))
        img.top-companies__featured-logo(src=require("../assets/images/cnn-logo.png"))
        img.top-companies__featured-logo(src=require("../assets/images/the-new-york-times-logo.png"))
        img.top-companies__featured-logo(src=require("../assets/images/nbc-news-2013-logo.png"))
        img.top-companies__featured-logo(src=require("../assets/images/the-washington-post-logo.png"))
        img.top-companies__featured-logo(src=require("../assets/images/aarp-logo.png"))
        img.top-companies__featured-logo(src=require("../assets/images/forbes-logo.png"))
      
      h3.title Top 6 Home Alarm Companies 

      - for(var i = 0; i<5; i++)
        .top-brand
          span.top-brand__number #1
          .top-brand__main 
            p.top-brand__name Frontpoint 
            img.top-brand__logo(src=require("../assets/images/frontpoint-logo.png"))
            img.top-brand__stars(src=require("../assets/images/five-stars.png"))
            a.top-brand__link(href="javascript:;") READ REVIEWS
          .top-brand__features 
            p.top-brand__subtitle Features
              ul.top-brand__list 
                li.top-brand__list-item Installation type: Professional installation
                li.top-brand__list-item Monitoring options: 24/7 Monitoring
                li.top-brand__list-item Equipment fees: Must purchase equipment
                li.top-brand__list-item Minimum contract: 42 months
                li.top-brand__list-item 
                  strong $39.99 per month
          .top-brand__cta
            p.top-brand__call-text Call Frontpoint 
            a.btn.btn--large(href="javascript:;") (833) 851-3035
            a.top-brand__cta-link.link(href="javascript:;") Visit Website
  section.trust 
    .container 
      h3.trust__title How do I know I can trust 
        span.trust__brand-name ConsumerAffairs?
        .row.row--flex
          .box
            p df
          .box
            p df
          .box
            p df
          .box
            p df
          
    


      