extends layout-blocks/layout.pug
block content
  section.hero 
    .container 
      .hero__text
        h2.hero__title 6 of the most trusted home alarm systems
        p.hero__description You work hard to provide for your family and protect the ones you love. Installing a home security system is an easy way to secure your home even when you're not there. But how do you know which alarm company to use? We compared installation types, contract terms, monitoring fees and plan options to help you choose the best home security system for your needs.
        p.hero__bottom-text Last updated: March 1, 2018 
          span.hero__detail "Disclosure"
  section.how-we-choose 
    .container 
      h3.how-we-choose__title How we choose the best
      p.how-we-choose__description We throughly researched plans, reputation installation ans more...
      .how-we-choose__boxes 
        - for(var i = 0; i<4; i++)
          .how-we-choose__box
            span.how-we-choose__icon [icon]
            .how-we-choose__box-details
              p.how-we-choose__box-number 283
              p.how-we-choose__box-description Companies considered
  section.featured 
    .container 
      h3.featured__title Featured Products
      .slider.js-slider
        - for(var i = 0; i<4; i++)
          .slider-item
            img.featured__img(src="http://placehold.it/300x200")
            p.featured__description Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem quaerat dolores tempore alias eaque, ex ipsa cupiditate dicta voluptas cumque veritatis error consectetur rerum.
            a.featured__btn.btn(href="javascript:;") Order Now

  section.top-companies 
    .container 
      //- p.top-companies__featured-text  Featured in: 
      //- .top-companies__featured 
      //-   img.top-companies__featured-logo(src=require("assets/images/travel-leisure-logo.png"))
      //-   img.top-companies__featured-logo(src=require("assets/images/cnn-logo.png"))
      //-   img.top-companies__featured-logo(src=require("assets/images/the-new-york-times-logo.png"))
      //-   img.top-companies__featured-logo(src=require("assets/images/nbc-news-2013-logo.png"))
      //-   img.top-companies__featured-logo(src=require("assets/images/the-washington-post-logo.png"))
      //-   img.top-companies__featured-logo(src=require("assets/images/aarp-logo.png"))
      //-   img.top-companies__featured-logo(src=require("assets/images/forbes-logo.png"))
      
      h3.title Top 6 Home Alarm Companies 

      - for(var i = 0; i<5; i++)
        .top-brand
          span.top-brand__number #1
          .top-brand__main 
            p.top-brand__name Frontpoint 
            img.top-brand__logo(src=require("assets/images/frontpoint-logo.png"))
            img.top-brand__stars(src=require("assets/images/five-stars.png"))
            a.top-brand__link(href="javascript:;") READ REVIEWS
          .top-brand__features 
            p.top-brand__subtitle Features
              ul.top-brand__list 
                li.top-brand__list-item Installation type: Professional installation
                li.top-brand__list-item Monitoring options: 24/7 Monitoring
                li.top-brand__list-item Equipment fees: Must purchase equipment
                li.top-brand__list-item Minimum contract: 42 months
                li.top-brand__list-item 
                  strong $39.99 per month
          .top-brand__cta
            p.top-brand__call-text Call Frontpoint 
            a.top-brand__cta-btn.btn.btn--large(href="javascript:;") (833) 851-3035
            a.top-brand__cta-link.link(href="javascript:;") Visit Website
  section.how-it-works 
    .container 
      h3.how-it-works__title Here is how it works
      .how-it-works__boxes 
        - for(var i = 0; i<4; i++)
          .how-it-works__box 
            span.how-it-works__icon [check]
            p.how-it-works__subtitle We listen 
            p.how-it-works__description Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dicta in ab maxime rem doloremque deserunt possimus laboriosam nemo saepe?
  section.faq
    .container
      h3.faq__title Customers questions and answers
      - for(var i = 0; i<6; i++)
        .accordion.js-accordion
          h4.accordion__header How many cameras do I need?
          .accordion__body 
            p.accordion__content 1 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe, nesciunt consequuntur eos dignissimos id veniam quis enim, quaerat, inventore rerum autem possimus dolores doloremque fuga soluta blanditiis eius alias! Voluptatibus.
        


    
        
          
  


    